<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-searchbar (ionChange)="search($event)"></ion-searchbar>
    <ion-select [(ngModel)]="selectedCategory" *ngIf="categories.length > 0">
      <ion-select-option *ngFor="let category of categories" value="{{category.description}}">{{ category.description }}
      </ion-select-option>
    </ion-select>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list>
    <ion-list-header> Stock </ion-list-header>
    <div *ngFor="let item of items | categoryFilter: selectedCategory">
      <ion-item (click)="openEditModal(item)" button="true">
        <ion-thumbnail slot="start">
          <img src={{item.imageUrl}} />
        </ion-thumbnail>
        <ion-label>
          <h1>{{ item.description }}</h1>
          <h2>{{ item.category}}</h2>
        </ion-label>
        <ion-badge slot="end"
          [color]="item.availability === 1 ? 'danger' : (item.availability === 2 ? 'warning' : 'success')">{{
          item.availability }}</ion-badge>
        <ion-label>
        </ion-label>
      </ion-item>
    </div>
  </ion-list>
  <ion-modal [isOpen]="isOpen">
    <ng-template>
      <app-create-item [isEdit]="true" [item]="selectedItem" (dismiss)="cancel()"></app-create-item>
    </ng-template>
  </ion-modal>
</ion-content>
